<div class="caster-tool">
  <h1>Caster Access Requested</h1>
  <p>bluejeans has been notified that you want access to the casting tool. If he
  doesn't respond within a reasonable time (a day or so), you can
  <a href="https://steamcommunity.com/id/bluejeansummer">message him on Steam</a>.
  </p>
</div>
